.preloaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloader {
  width: 20px;
  height: 20px;
  border: 5px solid rgb(163, 0, 0);
  border-radius: 50%;
  border-top: 5px solid rgb(209, 209, 209);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
