.productContainer,
.productContainerInactive {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 25px auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.568);
  padding: 15px;
  font-size: 0.8rem;
  height: 100%;
  min-height: 225px;
}

.productInnerContainer {
  display: flex;
  width: 100%;
}

.imgContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img,
.noImg,
.imgModal {
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  height: 100%;
  max-height: 180px;
  object-fit: cover;
  margin: 5px 0;
}

.noImg {
  object-fit: cover;
}

.imgModal {
  object-fit: contain;
  max-height: 250px;
  margin-top: 40px;
}

.inactiveProduct {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.3);
  z-index: -1;
}

.productDataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  margin-top: 15px;
}

.productDataContainer h3 {
  margin: 10px 0;
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

.productDataContainer h4 {
  margin: 3px 0;
  font-size: 1.5rem;
  font-weight: 900;
  word-break: break-all;
}

.priceDiscount {
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: lighter;
  color: gray;
}

.deleteButton,
.editButton {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 3px;
  background-color: red;
  border: none;
  color: white;
  font-weight: bolder;
  transition: 0.1s;
}

.editButton {
  margin-right: 33px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton:hover,
.editButton:hover {
  scale: 1.1;
}

.deleteButton:active,
.editButton:active {
  border: 1px solid red;
}

.deactivateButton,
.discountButton,
.deleteModalButton {
  border: 1px solid blue;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.1s;
  margin-top: 10px;
}

.deactivateButton {
  border: 1px solid red;
}

.deleteModalButton {
  background-color: rgb(172, 0, 0);
  border: 1px solid rgb(172, 0, 0);
  color: white;
}

.deactivateButton:hover,
.discountButton:hover,
.discountButtonModal:hover,
.deleteModalButton:hover,
.editButtonModal:hover {
  scale: 1.03;
}

.deactivateButton:active,
.discountButton:active,
.discountButtonModal:active,
.deleteModalButton:active,
.editButtonModal:active {
  border: 1px solid green;
}

.modalProductContainer {
  text-align: start;
}

.modalProductContainer h4 {
  font-size: 0.9rem;
  color: rgb(39, 39, 39);
  font-weight: 400;
}

.discountModalContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hasDicountModalContainer,
.hasDiscountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.discountButtonModal {
  background-color: rgb(4, 105, 0);
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  border: 1px solid rgb(4, 105, 0);
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.1s;
}

.buttonModalContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.editButtonModal {
  position: absolute;
  left: 0;
  top: 0;
  margin: 7px;
  background-color: transparent;
  color: orangered;
  border: 1px solid orangered;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 0.9rem;
  transition: 0.1s;
}

@media only screen and (min-width: 768px) {
  .modalProductContainer {
    width: 100%;
  }
}
