.productContainer,
.productContainerInactive,
.productContainerStar {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 0 auto 25px auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.568);
  border-radius: 2px;
  padding: 8px 16px;
  font-size: 0.8rem;
  height: 100%;
  min-height: 225px;
  transition: 200ms;
}

.productContainer:hover,
.productContainerInactive:hover,
.productContainerStar:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.568);
}

.starContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.productContainerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.productContainerStar {
  animation-name: inPromotion;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.actionsContainer {
  display: flex;
  gap: 12px;
}

.productInnerContainer {
  display: flex;
  width: 100%;
}

.imgContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img,
.noImg,
.imgModal {
  width: 100%;
  min-width: 120px;
  max-width: 300px;
  height: 100%;
  max-height: 180px;
  object-fit: cover;
  margin: 5px 0;
}

.noImg {
  object-fit: cover;
}

.imgModal {
  object-fit: contain;
  max-height: 250px;
  margin-top: 40px;
}

.inactiveProduct {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.3);
  z-index: -1;
}

.productDataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
}

.productDataContainer h3 {
  margin-bottom: 8px;
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

.productDataContainer h4 {
  height: 60px;
  padding: 2px 0;
  font-size: 1.5rem;
  font-weight: 900;
  word-break: break-all;
}

.priceDiscount {
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: lighter;
  color: gray;
  opacity: .75;
}

.deleteButton,
.editButton {
  font-size: large;
  width: 25px;
  height: 25px;
  display: grid;
  background-color: transparent;
  place-items: center;
  border: none;
  border-radius: 50%;
  color: #000b;
  font-weight: bolder;
  transition: 0.1s;
}

.starButton {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  transition: 0.1s;
}

.editButton:hover {
  color: green;
}

.deleteButton:hover {
  color: red;
}

.editButton:hover,.deleteButton:hover {
  background-color: #0001;
}

.deleteButton:active,
.editButton:active {
  background-color: #0002;
}

.productButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deactivateButton,
.discountButton,
.deleteModalButton {
  border: 1px solid transparent;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition: 0.1s;
  margin-top: 10px;
}

.discountButton {
  background-color: green;
}

.deactivateButton {
  border: 1px solid red;
  background-color: red;
}

.deleteModalButton {
  background-color: rgb(172, 0, 0);
  border: 1px solid rgb(172, 0, 0);
  color: white;
}

.deactivateButton:hover,
.discountButton:hover,
.discountButtonModal:hover,
.deleteModalButton:hover,
.editButtonModal:hover {
  scale: 1.03;
}

.deactivateButton:active,
.discountButton:active,
.discountButtonModal:active,
.deleteModalButton:active,
.editButtonModal:active {
  border: 1px solid transparent;
  transform: scale(.97);
}

.modalProductContainer {
  text-align: start;
}

.modalProductContainer h4 {
  font-size: 0.9rem;
  color: rgb(39, 39, 39);
  font-weight: 400;
}

.discountModalContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hasDicountModalContainer,
.hasDiscountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.discountButtonModal {
  background-color: rgb(4, 105, 0);
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  border: 1px solid rgb(4, 105, 0);
  border-radius: 5px;
  margin-top: 10px;
  transition: 0.1s;
}

.buttonModalContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.editButtonModal {
  position: absolute;
  left: 0;
  top: 0;
  margin: 7px;
  background-color: transparent;
  color: orangered;
  border: 1px solid orangered;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 0.9rem;
  transition: 0.1s;
}

@media only screen and (min-width: 768px) {
  .modalProductContainer {
    width: 100%;
  }
}

@keyframes inPromotion {
  0% {
    box-shadow: 0 0 4px 2px rgba(255, 215, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 4px 2px  rgba(255, 215, 0, 1);
  }
}
